target
.idea/
.classpath
.project
**.settings
**.attach*
**.DS_Store
**._.DS_Store
bin/
*APPLI_LOG_IS_UNDEFINED/

# Cache of project
.gradletasknamecache

### Gradle template
.gradle
/build/
.idea
# Ignore Gradle GUI config
gradle-app.setting

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

**/build/
**/*.iml
